<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.socialley">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Socialley">
        <activity android:name=".GroupChatActivity"></activity>
        <activity android:name=".ChatDetailActivity" />
        <activity android:name=".ChatMainActivity" >

        </activity>
        <activity
            android:name=".ViewProfile"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserListActivity"
            android:exported="true" />
        <activity
            android:name=".StatusUpdate"
            android:exported="true"/>
        <activity
            android:name=".CommentActivity"
            android:exported="true"/>
        <activity
            android:name=".SettingsActivity"
            android:exported="true"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>